<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
        <title>{% block title %}Добро пожаловать!{% endblock %}</title>

        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/added.css" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="is-preload">
        <nav id="nav">
            <ul class="container">
                <li><a href="{{ path('main') }}">Главная</a></li>
                <li><a href="{{ path('game') }}">Игра</a></li>
                <li><a href="{{ path('main') }}">Бонусы</a></li>
            </ul>
        </nav>
        
        {% block body %}{% endblock %}

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
